page-cadastro {
    .div-toobar{
        margin-left: 20px;
      }
      .footer{
        color: #488aff;
        text-align: center;
      }
      .button-footer{
        margin: 0px 20px;
      }
    .lista-borda{
        border: 5px solid #488aff;
    }
}
