page-login {
    .login{
        background-color:#4a98d9;
    }
    h1{
        font-size: 200%;
        text-align: center;
    }
    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
}
