page-professor {
  .professor{
    background-color:#4a98d9;
  }
  div{
    display: inline-block;
    text-align: center;
 }
  .cadastro{/*Propriedades utilizadas para alinhar divs do layout*/
    float: center;
    width: 45%;
    padding: 15px;
    border: 3px solid #4a98d9;
    border-radius: 5px;
    margin: 0px;//Não esta servindo para nada
    padding: 20px; 
    box-sizing: border-box;  
    background-color: #ffffff;
  }

  i{
    text-align: center;
    font-size: 60px;
    
  }
  p{
    font-size:15px;
    text-align: center;
    display: block;
    color: black;
  }
  #instituicao{
   color:#f5e900;
  }
  #curso{
    color:#00f556;
  }
  #turma{
    color: #d11d38;
  }
  #calendario{
    color: #8126d1;
  }
}