page-home {
    h1{
        text-align: center;
    }
    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
    input{
        align-self: center;
        margin: auto;
        display: block;
    }
    p {
        align-self: center;
        margin: auto;
        display: block;
    }
}
